/* :root { 
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-white-color: #ccbaba;
  --secondary-white-color: #e0dfe6;
  --primary-bcg-color: #2f303a;
}
/*  */
body {
  background-color: #ffffff;
  color: #757575;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */

.logo {
  color: #000000;
}

.logo .header {
  color: #2196f3;
}

.site-nav .site-nav-list {
  color: #212121;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.auth-nav .auth-nav-list {
    color: #757575;
}

/* Hero */

.hero-item {
  color: var(--primary-white-color);
}

.modal-btn {
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--primary-text-color);

  .modal-btn:hover {
  background-color: var(--secondary-accent-color);
}

/* Advantages */

.section-title {
  color: var(--secondary-text-color);
}

.title {
  color: var(--secondary-text-color);
}

.decoration {
  color: var(--primary-text-color);
}
